<table>
    {% include "bone/debug/shared-table-row-array-header.twig" %}
    <tbody>
    {#
        {% for key, value in _context %}
            {% include "bone/debug/shared-table-row-array-content.twig" %}
        {% endfor %}
    #}
    </tbody>
</table>
