<table>
    {% include "bone/debug/shared-table-row-array-header.twig" %}
    <tbody>
        {% for value in cookies %}
            {% include "bone/debug/shared-table-row-array-content.twig" %}
        {% endfor %}
    </tbody>
</table>