<div class="flex is-wrapping">
    <div class="column is-12">
        {{ form.build_version()|raw }}
    </div>
    <div class="column is-12">
        <button class="button is-primary" data-esc-tracking-service="mixpanel" data-esc-tracking="clicked" data-esc-tracking-content-type="cta-button" data-esc-tracking-context="modal-create-game-mod-build" data-esc-tracking-element="submit">Create Build</button>
    </div>
</div>