<div class="flex sheet p-m" style="margin-bottom: 0;">
    <div class="column is-12">
        <div class="is-fullwidth">
            <form action="{{ path }}" method="post" data-esc-ajax-form="json">
                {{ form|raw }}
            </form>
        </div>
    </div>
</div>

