<div class="ajax-modal-container align-left">
    <div class="sheet p-m" style="margin-bottom: 0;">
        <h3 class="title is-3 mb-l">
            {{ game_mod.display_name }}: Create new modbuild
        </h3>
        <form method="post" enctype="multipart/form-data" action="{{ path }}" data-esc-ajax-form="json" >
            {{ form|raw }}
        </form>
    </div>
</div>
