<div class="flex is-wrapping">

    {{ form.game_build_id()|raw }}

    <div class="column is-12">
        {{ form.game_controller_type_id()|raw }}
    </div>
    <div class="column is-6">
        {{ form.game_controller_version()|raw }}
    </div>
    <div class="column is-6">
        {{ form.game_build_controller_archive()|raw }}
    </div>
    <div class="column is-12">
        {% include "blocks/forms/ajax-form-progressbar.twig" %}
    </div>
    <button type="submit" class="button is-primary" data-esc-tracking-service="mixpanel" data-esc-tracking="clicked" data-esc-tracking-content-type="cta-button" data-esc-tracking-context="modal-upload-game-controller" data-esc-tracking-element="submit">{% t "Upload" %}</button>
    <a href="javascript:parent.$.fancybox.close();" class="button is-white ml-s mr-s" data-esc-tracking-service="mixpanel" data-esc-tracking="clicked" data-esc-tracking-content-type="cta-button" data-esc-tracking-context="modal-upload-game-controller" data-esc-tracking-element="cancel">{% t "Cancel" %}</a>
</div>
