<div class="sheet p-m">
    <div class="column is-12 is-fullwidth is-fullwidth-mobile pb-0 mb-0">
        <h1 class="title is-1 pb-0 mb-0">Enter Game Code</h1>
    </div>
    <div class="column is-12 is-fullwidth is-fullwidth-mobile pt-0 mt-0">
        {{ form.slug()|raw }}
    </div>
    <div class="column is-12 is-fullwidth is-fullwidth-mobile">
        <button class="button is-black" type="submit">Join Game</button>
    </div>

</div>