<div class="infinite-scroll-status" style="display: none;">
    <div class="infinite-scroll-request loader-ellips">
        <div class="button is-large is-fullwidth is-white is-loading-inverted">...</div>
    </div>
    <p class="infinite-scroll-last sidebar-empty align-center">No more content available. Check back later!</p>
    <p class="infinite-scroll-error sidebar-empty align-center">No more content available. Check back later!</p>
</div>
