body {
	background: #EFF1F2;
}

.game-logo {
	width: 110px;
	height: 80px;
	overflow: hidden;
}
.game-logo-container {
	transition: all 0.3s ease-in-out;
	height: 160px;
}
.game-logo:hover .game-logo-container {
	margin-top: -70px;
}

/* Material Overrides */

.MuiLinearProgress-root.MuiLinearProgress-colorPrimary.MuiLinearProgress-indeterminate {
	background-color: rgb(225, 70, 71);
}

.MuiLinearProgress-bar.MuiLinearProgress-barColorPrimary.MuiLinearProgress-bar1Indeterminate {
	background-color: rgb(71, 165, 219);
}

.MuiLinearProgress-bar.MuiLinearProgress-barColorPrimary.MuiLinearProgress-bar2Indeterminate {
	background-color: rgb(254, 254, 254);
}

/* Mineral Overrides */
#root nav a:focus {
	box-shadow: none;
}
