<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title>
			Error 500: Internal Server Error - ESC Games
		</title>
		<meta name="Description" content="500 Error Page" />
	</head>
	<body style="background-color: #fff; color: #666; text-align: center;">
		<h1>
			Internal Server Error (500)
		</h1>
		<p>
			Either the website is way overloaded, or the geniuses who created this website broke something!<br />
			Please try to reload the page again in a few minutes!
		</p>
	</body>
</html>
