<div class="flex is-wrapping">
    <div class="column is-12">
        {{ form.display_name()|raw }}
    </div>
    <div class="column is-12">
        {{ form.description()|raw }}
    </div>
    <div class="column is-12">
        <button class="button is-primary" type="submit" data-esc-tracking-service="mixpanel" data-esc-tracking="clicked" data-esc-tracking-content-type="cta-button" data-esc-tracking-context="edit-team-role" data-esc-tracking-element="submit">Save</button>
    </div>
</div>
