<div class="container pt-m">

    {% include "account/games/manage-game/breadcrumbs.twig" %}

    <div class="flex pt-l is-wrapping">
        <div class="column is-3 is-fullwidth-mobile">

            {% include "account/games/manage-game/side-nav.twig" %}

        </div>
        <div class="column is-9 is-fullwidth-mobile">

            <form action="{{ game.edit_url }}" method="post" data-esc-ajax-form="json">
                {{ form|raw }}
            </form>

        </div>
    </div>
</div>

