<div class="upload-progress-container" data-esc-form-component="progress-status">
    <span class="upload-file-progress-bar" data-esc-form-element="progress-bar"></span>
    <span class="upload-file-progress-bar-text" data-esc-form-element="progress-text">0%</span>
</div>